/*--------------------------------------------------------*/

.scroll-up {
  position: fixed;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 40px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #4129ad;
  opacity: 0;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: pulse 4s infinite;
}
.scroll-up:hover {
  background-color: #876cff;
}
.scroll-up.show {
  opacity: 1;
}
.scroll-up-icon {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 25px;
  height: 25px;
  fill: #876cff;
}
.scroll-up:hover .scroll-up-icon {
  fill: #4129ad;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  }
  30% {
    box-shadow: 0 0 0 13px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*--------------------------------------------------------*/
