/*-------------------------------------------------------*/

@import url('./reset.css');
@import url('./loader.css');
@import url('./background.css');

/*--------------------------- Others ---------------------------*/

:root {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;

  color: #2e2f42;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #4e54c8;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(14, 4, 39, 0.5);
}

.in-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/*--------------------------- Styles ---------------------------*/

.wrpaper {
  position: relative;
  z-index: 10;
}

.container {
  margin: 0 auto;
  max-width: 1158px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-form {
  padding: 35px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.gallery-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid #808080;
  padding: 0 15px;
  letter-spacing: 0.04em;
  color: #808080;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-input:hover {
  border: 1px solid #876cff;
}
.gallery-input:focus {
  border: 1px solid #4129ad;
}
.gallery-input::placeholder {
  letter-spacing: 0.04em;
  color: #808080;
}
.gallery-btn {
  height: 40px;
  width: 90px;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4129ad;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-btn:hover {
  background-color: #876cff;
}

/*--------------------------------------------------------*/

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 35px;
}
.gallery-item {
  position: relative;
  width: 360px;
  height: 200px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item:hover {
  transform: scale(1.04);
}
.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------------------------------------------------------*/

.specific-list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4px 20px;
  background-color: rgb(235, 213, 14);
}
.specific-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specific-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}
.specific-quantity {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

/*--------------------------------------------------------*/
